{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
        <div class="row justify-content-between mb-10">
            <div class="col-lg-6">
                <h3> Blog Post</h3>
            </div>
            <div class="col-lg-6 text-right">
                <button type="button" class="btn btn-success"><a href="{% url "create_role" %}">Create</a></button>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12">
                <section class="hk-sec-wrapper pt-40">
                    <div class="row">
                        <div class="col-sm">
                            <div class="table-wrap">

                                <table id="datable_1" class="table table-hover w-100 display pb-30">
                                    <thead class="thead-info">
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckall">
                                                <label class="custom-control-label" for="customCheckall"></label>
                                            </div>
                                        </th>
                                        <th>Title</th>
                                        <th>Slug</th>
                                        <th>Publihed</th>
                                        <th>Published At</th>
                                        <th>Categories</th>
                                        <th>Privte</th>
                                        <th>Internal</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                            </div>
                                        </td>
                                        <td><a href="{% url 'userdetail' %}"> Why You Need A Blog Subscription Landing Page </a></td>
                                        <td>why-you-need-a-blog-subscription-landing-page </td>
                                        <td><i class="fa fa-check"></i></td>
                                        <td>03 Oct,2018</td>
                                        <td><span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> computer</span>
                                        <span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> Smartphone</span>
                                        <span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> Billing</span></td>
                                        <td><i class="fa fa-minus"></i></td>

                                         <td><i class="fa fa-minus"></i></td>
                                        <td>
                                            <div class="inline-block dropdown">
                                                <a class="dropdown-toggle no-caret" data-toggle="dropdown"
                                                   href="#" aria-expanded="false" role="button"><i
                                                        class="icon-options-vertical"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item fa fa-edit" href="#">
                                                        Edit</a>
                                                    <a class="dropdown-item fa fa-remove" href="#">
                                                        Delete</a>
                                                    <a class="dropdown-item fa fa-history" href="#">
                                                        Logs</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                            </div>
                                        </td>
                                        <td><a href="{% url 'userdetail' %}">Subscription Commerce Trends for 2018 </a></td>
                                        <td>subscription-commerce-trends-for-2018 </td>
                                        <td><i class="fa fa-check"></i></td>
                                        <td>03 Oct,2018</td>
                                        <td><span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> computer</span>
                                        <span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> Smartphone</span>
                                        <span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> Billing</span>
                                        <span class="badge badge-success mt-15 mr-10"><i
                                                class="fa fa-folder mr-1"></i> Engineer</span></td>
                                        <td><i class="fa fa-minus"></i></td>

                                         <td><i class="fa fa-minus"></i></td>
                                        <td>
                                            <div class="inline-block dropdown">
                                                <a class="dropdown-toggle no-caret" data-toggle="dropdown"
                                                   href="#" aria-expanded="false" role="button"><i
                                                        class="icon-options-vertical"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item fa fa-edit" href="#">
                                                        Edit</a>
                                                    <a class="dropdown-item fa fa-remove" href="#">
                                                        Delete</a>
                                                    <a class="dropdown-item fa fa-history" href="#">
                                                        Logs</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot class="thead-light">
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckall1">
                                                <label class="custom-control-label" for="customCheckall1"></label>
                                            </div>
                                        </th>
                                         <th>Title</th>
                                        <th>Slug</th>
                                        <th>Publihed</th>
                                        <th>Published At</th>
                                        <th>Categories</th>
                                        <th>Privte</th>
                                        <th>Internal</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock main_content %}