{% extends 'base.html' %}
{% load static %}
{% block main_content %}
            <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
            <div class="row justify-content-between mb-10">
                <div class="col-lg-6">
                    <h3> Users</h3>
                </div>
                <div class="col-lg-6 text-right">
                    <button type="button" class="btn btn-success" > <a href="{% url "createuser" %}">Create</a></button>
                </div>

            </div>
             <div class="row">
                    <div class="col-xl-12">
            <section class="hk-sec-wrapper pt-40">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">

                            <table id="datable_1" class="table table-hover w-100 display pb-30">
                                <thead class="thead-info">
                                <tr>
                                    <th>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckall">
                                                <label class="custom-control-label" for="customCheckall"></label>
                                            </div>
                                        </th>
                                    <th>Picture</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Created at</th>
                                    <th>Updated at</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                            </div>
                                        </td>
                                    <td>
                                    <div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div>
                                    </td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td>
                                        <div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2"></label>
                                            </div>
                                        </td>
                                    <td><div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div></td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td><div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2"></label>
                                            </div>
                                        </td>
                                    <td><div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div></td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td> <span class="badge badge-success mt-15 mr-10">Super user</span><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td><div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3"></label>
                                            </div>
                                        </td>
                                    <td><div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div></td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td><div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3"></label>
                                            </div>
                                        </td>
                                    <td><div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div></td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td><div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4"></label>
                                            </div>
                                        </td>
                                    <td><div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div></td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td><div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5"></label>
                                            </div>
                                        </td>
                                    <td><div class="avatar avatar-sm">
                                        <img src="{% static 'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                                    </div></td>
                                    <td><a href="{% url 'userdetail' %}"> John </a></td>
                                    <td>Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td><span class="badge badge-success mt-15 mr-10">Member</span></td>
                                    <td>2009/04/10</td>
                                    <td>2009/04/10</td>
                                    <td><div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="icon-options-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item fa fa-edit" href="#">  Edit</a>
                                            <a class="dropdown-item fa fa-remove" href="#">  Delete</a>
                                            <a class="dropdown-item fa fa-history" href="#">  Logs</a>
                                        </div>
                                    </div></td>
                                </tr>
                                </tbody>
                                <tfoot class="thead-light">
                                <tr>
                                    <th>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckall">
                                                <label class="custom-control-label" for="customCheckall"></label>
                                            </div>
                                        </th>
                                    <th>Picture</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Created at</th>
                                    <th>Updated at</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
                    </div>
             </div>
            </div>



{% endblock main_content %}